@model Labs.Domain.Entities.Dish

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div class="col-md-4 p-2">
    <div class="card border-dark h-100">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img class="card-img-top" src="@Model.Image" alt="@Model.Name"
                 style="height: 200px; object-fit: cover;" />
        }
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <h5><span class="badge bg-secondary">@Model.Calories калорий</span></h5>
            @if (Model.Category != null)
            {
                <span class="badge bg-info">@Model.Category.Name</span>
            }
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-outline-primary"
               asp-action="Add"
               asp-controller="Cart"
               asp-route-id="@Model.Id"
               asp-route-returnurl="@returnUrl">
                Add to cart <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </div>
</div>