@implements IDisposable
@using Labs.Blazor.Services
@using Labs.Blazor.Models

<div class="btn-group mt-3" role="group" aria-label="Pager">
    <!-- Кнопка Previous -->
    <button type="button"
            class="btn btn-outline-primary @(previousEnabled ? "" : "disabled")"
            @onclick="@(() => OnPageSelected(ProductService.CurrentPage - 1))">
        <span aria-hidden="true">&laquo;</span>
    </button>

    @for (int i = 1; i <= ProductService.TotalPages; i++)
    {
        var temp = i;
        <button type="button"
                class="btn btn-outline-primary @(IsActive(temp) ? "active" : "")"
                @onclick="@(() => OnPageSelected(temp))">
            @temp
        </button>
    }

    <!-- Кнопка Next -->
    <button type="button"
            class="btn btn-outline-primary @(nextEnabled ? "" : "disabled")"
            @onclick="@(() => OnPageSelected(ProductService.CurrentPage + 1))">
        <span aria-hidden="true">&raquo;</span>
    </button>
</div>

@code {
    [CascadingParameter]
    public IProductService<Dish> ProductService { get; set; } = default!;

    protected override void OnInitialized()
    {
        if (ProductService != null)
        {
            ProductService.ListChanged += StateHasChanged;
        }
    }

    bool previousEnabled => ProductService.CurrentPage > 1;
    bool nextEnabled => ProductService.CurrentPage < ProductService.TotalPages;

    bool IsActive(int pageNo) => pageNo == ProductService.CurrentPage;

    async void OnPageSelected(int pageNo)
    {
        await ProductService.GetProducts(pageNo);
    }

    public void Dispose()
    {
        if (ProductService != null)
        {
            ProductService.ListChanged -= StateHasChanged;
        }
    }
}